.todo-add-wrapper {
  position: relative;

  .btn-wrapper {
    text-align: center;
  }
}

.todo-input-wrapper {
  width: 100%;
  height: 30px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  .todo-input {
    flex-basis: 80%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 0 .5rem;
  }
}

/*.btn-add {
  $color: #eee;
  flex-basis: 20%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: none;
  background: $color;
  transition: 0.3s all;
  cursor: pointer;
}*/
